@use 'src/variables' as v;

input {
  width: fit-content;
  background-color: v.$dark;
  border: 1px solid v.$darkish;
  border-radius: 10px;
  // padding: 7px 14px;
  padding: 10px 15px;
  color: v.$lightest;
  cursor: text;
  transition: all 0.3s ease-in-out;
  font-size: 16px;

  &.invert-color {
    background: v.$darkish;
    // border: 1px solid v.$darker;
  }

  &:hover,
  &:active,
  &:focus {
    // background-color: #222228;
    background-color: v.$dark-hover;
    outline: none;
  }

  &:disabled {
    color: v.$darker;
    cursor: initial;
    background-color: v.$dark-hover;
    border-color: v.$dark-hover;
  }
}
