@use 'src/variables' as v;

button {
  font-family: inherit;
  width: fit-content;
  background-color: v.$darker;
  border: 1px solid v.$darkish;
  border-radius: 10px;
  padding: 10px;
  color: v.$lightest;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  font-weight: v.$w-light;
  margin: 7px;

  display: flex;
  flex-direction: row;
  align-items: center;

  &.invert-color {
    background: v.$darkish;
    // border: 1px solid v.$darker;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: v.$dark-hover;
    outline: none;
  }

  &:disabled {
    color: v.$darker;
    cursor: initial;
    background-color: v.$dark-hover;
    border-color: v.$dark-hover;
  }
}
