.search-box-input {
  width: 100%;
  height: fit-content;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-box-btn {
  font-size: 16px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
