@use 'src/variables' as v;

.block-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 250px;
  height: 34.5px;

  margin: 5px;
  padding: 10px;
  background-color: v.$darker;
  border: 1px solid v.$darkish;
  border-radius: 10px;

  .block-heading {
    font-size: 16px;
    font-weight: v.$w-regular;
  }

  .block-normal {
    font-size: 14px;
  }
}
