@use 'src/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: v.$lightest;
  background-color: v.$darkest;

  display: flex;
  flex-direction: column;
  align-items: center;

  // background: url('../assets/images/background.svg') no-repeat center center fixed;
}

a {
  color: v.$lightest;
  text-decoration: none;
  transition: color 0.4s;

  &:hover {
    color: v.$light;
  }
}

span {
  font-weight: v.$w-light;
}
