/*
 * Colors.
 */

$lightest: #eee;
$light: #ccc;
$darkish: #494957;
$dark: #2f2f3a;
$dark-hover: #383844;
$darker: #292933;
$darkest: #1a1a21;
$active-background: #0b0b0e66;
$active-highlight: #0b0b0e;
$unread-background: #59597a66;
$unread-highlight: #59597a;

/*
 * Font weights.
 */

$w-light: 300;
$w-regular: 400;
$w-medium: 500;
$w-semibold: 600;
$w-bold: 700;
$w-extrabold: 800;
